.logo{
    font-size: 60px;
    font-family: Arial;
    float: left;
    color:yellow;
}
a{
    float:right;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 25px;
    font-family: Arial;
    background-color:none;
    color:white;
    text-decoration: none;
    
    
}
a:hover{
    color: yellow;
   
}
.wrapper{
    float: right;
    text-align: center;
    background-color:none;
    color: black;
    width: 200px;
}
.form{
    width:250px ;
    height: 380px;
    position: absolute;
    top: 130px;
    left: 870px;
    padding: 25px;
}
.form input{
    width: 240px;
    height: 35px;
    padding: 10px;
    background:rgba(240, 233, 233, 0.616);
    border: style 10px;
    border-radius: 20px;
    border-bottom:1px solid yellow;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size:16px ;
    letter-spacing: 1px;
}
.form h2{
    float: left;
    font-size: 30px;
    font-family: Georgia;
    color:yellow;
    background: black;
}
.input-box button{
    width: 60px;
    font-size: 15px;
    font-family: Arial;
    color: yellow;
    background: black;
}
button:hover{
    background: linear-gradient(to left,blue,#3a3a);
}
